{% extends "layout.html" %}

{% block title %}

    Crear sesión

{% endblock %}

{% block main %}
    <div class="mb-5">
        <h2>
            Crear sesión
        </h2>
    </div>
    <form action="/create_session" method="post">
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="dog_name" class="form-label"><strong>Nombre del peludo:</strong></label>
                <input autocomplete="off" autofocus class="form-control mb-3" name="dog_name" id="dog_name" type="text" required>
                <div id="dog_suggestions" class="list-group"></div>
            </div>
        </div>
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="human_name" class="form-label"><strong>Nombre del tutor:</strong></label>
                <select class="form-control mx-auto mb-2" name="human_name" id="human_select" required>
                    <option value="">Seleccionar un tutor</option>
                </select>
            </div>
        </div>
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="course" class="form-label"><strong>Curso:</strong></label>
                <select name="course" class="form-control d-inline-block form-width" required>
                    <option disabled selected value="">Selecciona el curso</option>
                    {% for course in courses %}
                        <option value="{{ course["course_name"] }}">{{ course["course_name"] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="col-md-3 mx-auto">
                <label for="description" class="form-label"><strong>Descripción de la sesión</strong></label>
                <textarea class="form-control" name="description" id="description" rows="5" required></textarea>
            </div>
        </div>
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="status" class="form-label"><strong>Estado del curso:</strong></label>
                <select name="status" class="form-control d-inline-block form-width" required>
                    <option disabled selected value="">Selecciona el estado del curso</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Reprobado">Reprobado</option>
                    <option value="Retirado">Retirado</option>
                    <option value="Finalizado">Finalizado</option>
                    <option value="Graduado">Graduado</option>
                </select>
            </div>
        </div>
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="level" class="form-label"><strong>Nivel:</strong></label>
                <select name="level" class="form-control d-inline-block form-width" required>
                    <option disabled selected value="">Selecciona el nivel de la sesión</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <button onclick="return confirmCreation()" type="submit" class="btn btn-success mb-3">Crear</button>

        <script> function confirmCreation() {
            return confirm("¿Estás seguro/a de que quieres crear esta sesión?");
        }
        </script>
        <p>Si no encuentras el curso, créalo <a href="/create_course">aquí</a>
    </form>
{% endblock %}
