{% extends "layout.html" %}

{% block title %}
    Crear curso
{% endblock %}

{% block main %}
    <div class="mb-5">
      <h2>
          Crear curso
      </h2>
    </div>
    <form action="/create_course" method="post">
      <div class="col-md-3 mx-auto">
        <input autocomplete="off" autofocus class="form-control mx-auto mb-2 w-auto" name="course_name" placeholder="Nombre del curso" type="text" required>
      </div>
      <button onclick="return confirmCreation() "type="submit" class="btn btn-success mb-5">Crear</button>

      <script> function confirmCreation() {
          return confirm("¿Estás seguro/a de que quieres crear el curso?");
      }
      </script>
    </form>
{% endblock %}
