{% extends "layout.html" %}

{% block title %}
    Modificar curso
{% endblock %}

{% block main %}
    <div class="mb-5">
        <h2>Modificar datos genéricos del curso</h2>
    </div>
    <div class="d-inline-block">
        <select id="course_select" name="course_name" class="form-control d-inline-block mb-3 form-width" required>
            <option disabled selected value="">Seleccionar curso</option>
            {% for course in courses %}
                <option value="{{ course["course_name"] }}">{{ course["course_name"] }}</option>
            {% endfor %}
        </select>
        <form id="edit_form" action="/modify_course" method="post" onsubmit="copyCourseName('edit_form'); return confirmModification();">
            <input type="hidden" name="course_name" id="edit_course_name">
            <input type="hidden" name="action" value="edit">
            <div class="mb-1">
                <strong><label>Datos a modificar</label></strong>
            </div>
            <input autocomplete="off" class="form-control mx-auto mb-3" name="new_course_name" placeholder="Nuevo nombre del curso" type="text">
            <button type="submit" class="btn btn-success mb-3">Modificar</button>
        </form>
    </div>

    <form id="delete_form" action="/modify_course" method="post" onsubmit="copyCourseName('delete_form'); return confirmDeletion();">
        <input type="hidden" name="course_name" id="delete_course_name">
        <input type="hidden" name="action" value="delete">
        <button type="submit" name="deletion" class="btn btn-danger mb-3">Eliminar curso</button>
    </form>

    <script>

        function confirmModification() {
            return confirm("¿Estás seguro/a de que quieres modificar el curso?");
        }

        function confirmDeletion() {
            return confirm("¿Estás seguro/a de que quieres eliminar el curso?");
        }

        function copyCourseName(formId) {
            var selectedCourse = document.getElementById('course_select').value;
            document.getElementById(formId).querySelector('input[name="course_name"]').value = selectedCourse;
        }
    </script>
{% endblock %}
