{% extends "layout.html" %}

{% block title %}

    Modificar tutor

{% endblock %}

{% block main %}
    <div class="mb-5">
        <h2>
            Modificar datos del tutor
        </h2>
    </div>
    <div class="col-md-3 mx-auto">
        <input autocomplete="off" autofocus class="form-control mx-auto mb-3" name="human_name" id="human" placeholder="Nombre del tutor" type="text" required>
        <div id="h_suggestions" class="list-group mb-1"></div>
        <input class="form-control mx-auto mb-3" name="phone_number" id="phone_number" placeholder="Número de teléfono" type="number" required>

        <form id="edit_form" action="/modify_human" method="post" onsubmit="copyHumanName('edit_form'); copyPhoneNumber('edit_form'); return confirmModification();">
            <input type="hidden" name="human_name" id="edit_human_name">
            <input type="hidden" name="phone_number" id="edit_human_number">
            <input type="hidden" name="action" value="edit">
            <div class="mb-1">
                <strong><label>Datos a modificar</label></strong>
            </div>
            <input class="form-control mx-auto mb-2" name="new_human_name" placeholder="Nuevo nombre del tutor" type="text">
            <input class="form-control mx-auto mb-2" name="new_phone_number" placeholder="Nuevo número de teléfono" type="number">
            <button type="submit" class="btn btn-success mb-3">Modificar</button>
        </form>

        <form id="delete_form" action="/modify_human" method="post" onsubmit="copyHumanName('delete_form'); copyPhoneNumber('delete_form'); return confirmDeletion();">
            <input type="hidden" name="human_name" id="delete_human_name">
            <input type="hidden" name="phone_number" id="delete_human_number">
            <input type="hidden" name="action" value="delete">
            <button type="submit" name="deletion" class="btn btn-danger mb-3">Eliminar tutor</button>
        </form>
    </div>

    <script>

        function confirmModification() {
            return confirm("¿Estás seguro/a de que quieres modificar este tutor?");
        }

        function confirmDeletion() {
            return confirm("¿Estás seguro/a de que quieres eliminar este tutor?");
        }

        function copyHumanName(formId) {
            var humanName = document.getElementById("human").value;
            document.getElementById(formId).querySelector('input[name="human_name"]').value = humanName;
        }

        function copyPhoneNumber(formId) {
            var number = document.getElementById("phone_number").value;
            document.getElementById(formId).querySelector('input[name="phone_number"]').value = number;
        }
    </script>
{% endblock %}
