{% extends "layout.html" %}

{% block title %}

    Modificar peludo

{% endblock %}

{% block main %}
    <div class="mb-5">
        <h2>
            Modificar datos del peludo
        </h2>
    </div>
    <div class="mb-3 text-start">
        <div class="col-md-3 mx-auto">
            <input autocomplete="off" autofocus class="form-control mb-3" name="dog_name" id="dog_name" placeholder="Nombre del peludo" type="text" required>
            <div id="dog_suggestions" class="list-group"></div>
            <select class="form-control mx-auto mb-2" name="human_name" id="human_select" required>
                <option value="" selected>Seleccionar un tutor</option>
            </select>
        </div>
    </div>
    <form id="edit_form" action="/modify_dog" method="post" enctype="multipart/form-data" onsubmit="copyDogName('edit_form'); copyHumanName('edit_form'); return confirmModification();">
        <input type="hidden" name="dog_name" id="edit_dog">
        <input type="hidden" name="human_name" id="edit_human">
        <input type="hidden" name="action" value="edit">
        <div class="col-md-3 mx-auto">
            <strong><label>Datos a modificar</label></strong>
        </div>
        <div class="col-md-3 mx-auto">
            <input class="form-control mx-auto mb-3" name="new_dog_id" placeholder="Nuevo ID del peludo" type="number">
            <input class="form-control mx-auto mb-2" name="new_dog_name" placeholder="Nuevo nombre del peludo" type="text">
            <input class="form-control mx-auto mb-2" name="new_human_name" placeholder="Nuevo nombre el tutor" type="text">
            <select name="race" class="form-control d-inline-block form-width">
                <option disabled selected value="">Seleccionar raza</option>
                {% for race in races %}
                    <option value="{{ race["race_name"] }}">{{ race["race_name"] }}</option>
                {% endfor %}
            </select>
            <div class="text-center mb-3"><small>Si no encuentras la raza, créala <a href="/create_race">aquí</a></small></div>
        </div>
        <div class="text-start mb-1">
            <div class="col-md-3 mx-auto">
                <strong><label>Modificar imágen del peludo</label></strong>
                <input type="file" name="new_dog_image" class="form-control mb-3">
            </div>
        </div>
        <button type="submit" class="btn btn-success mb-3">Modificar</button>
    </form>

        <form id="delete_form" action="/modify_dog" method="post" onsubmit="copyDogName('delete_form'); copyHumanName('delete_form'); return confirmDeletion();">
            <input type="hidden" name="dog_name" id="delete_dog">
            <input type="hidden" name="human_name" id="delete_human">
            <input type="hidden" name="action" value="delete">
            <button type="submit" name="deletion" class="btn btn-danger mb-3">Eliminar peludo</button>
        </form>

        <script>

            function confirmModification() {
                return confirm("¿Estás seguro/a de que quieres modificar este peludo?");
            }

            function confirmDeletion() {
                return confirm("¿Estás seguro/a de que quieres eliminar este peludo?");
            }

            function copyDogName(formId) {
                var dogName = document.getElementById("dog_name").value;
                document.getElementById(formId).querySelector('input[name="dog_name"]').value = dogName;
            }

            function copyHumanName(formId) {
                var humanName = document.getElementById("human_select").value;
                document.getElementById(formId).querySelector('input[name="human_name"]').value = humanName;
            }
        </script>
{% endblock %}
