{% extends "layout.html" %}

{% block title %}
    Registrarse
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Nombre de usuario" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Contraseña" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirma la contraseña" type="password" required>
        </div>
        <button onclick="return confirmRegistration()" class="btn btn-success mb-3" type="submit">Registrarse</button>

        <script>
            function confirmRegistration() {
                return confirm("¿Estás seguro/a de que quieres registrarte?");
            }
        </script>
    </form>

{% endblock %}
