{% extends "layout.html" %}

{% block title %}
    Usuarios
{% endblock %}

{% block main %}
    <div class="mb-5">
        <h2>
            Buscar peludo
        </h2>
    </div>
    <form action="/users" method="post">
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="dog_name" class="form-label"><strong>Nombre del peludo:</strong></label>
                <input autocomplete="off" autofocus class="form-control mb-3" name="dog_name" id="dog_name" type="text" required>
                <div id="dog_suggestions" class="list-group"></div>
            </div>
        </div>
        <div class="mb-3 text-start">
            <div class="col-md-3 mx-auto">
                <label for="human_name" class="form-label"><strong>Nombre del tutor:</strong></label>
                <select class="form-control mx-auto mb-2" name="human_name" id="human_select" required>
                    <option value="">Seleccionar un tutor</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success mb-5">Buscar</button>
    </form>
    <button onclick="window.location.href='/create_human'" class="btn btn-outline-success">Crear tutor</button>
    <button onclick="window.location.href='/create_dog'" class="btn btn-outline-success">Crear peludo</button>
{% endblock %}
